{% extends 'base.html' %}


{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora laboriosam rerum quaerat delectus totam harum asperiores, cumque natus id, debitis, nesciunt suscipit in qui sapiente? Sit sint, aspernatur tenetur, optio commodi nihil voluptatem iure quam esse, quaerat harum corrupti totam assumenda fugit distinctio iusto nostrum. Explicabo vero totam, sequi ab esse fugiat. Enim reprehenderit at dolores doloremque perferendis et cupiditate tenetur nisi unde ut rem quo eligendi, eveniet debitis, accusamus architecto quod earum. Corporis eius sapiente illum impedit ipsam deleniti, quidem voluptatum dignissimos nesciunt accusantium asperiores mollitia numquam facere modi beatae necessitatibus tempora aut reprehenderit eligendi. Perspiciatis praesentium ducimus magni?</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signing/">Signing</a>
            <a class="btn btn-dark" href="/signup/">Signup</a>
        </div>
    </section>
</main>

{% endblock %}